._16AU4, body, html {
    min-width: 100vw;
    max-height: 100%;
    height: 100%
}

._2EX4V {
    margin: 0 0 .5em;
    color: #fff
}

._fZJ1 {
    color: #fff;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, hsla(0, 0%, 9%, .95)), to(transparent));
    background: linear-gradient(90deg, hsla(0, 0%, 9%, .95) 0, transparent);
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
    top: 0;
    margin: auto;
    left: 0;
    width: 3em
}

._fZJ1:focus {
    outline: none
}

._fZJ1:last-of-type {
    left: auto;
    background: -webkit-gradient(linear, right top, left top, color-stop(0, hsla(0, 0%, 9%, .95)), to(transparent));
    background: linear-gradient(270deg, hsla(0, 0%, 9%, .95) 0, transparent);
    right: 0
}

.mewpm {
    margin: 1em 0 1em 1em
}

.mewpm._14SGx {
    margin: 1em 0
}

.mewpm._14SGx ._2EX4V {
    color: #252525
}

.mewpm._14SGx ._2EX4V:before {
    vertical-align: middle;
    content: "\01F3A5";
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 0 .5em 0 0
}

._23rt6 {
    width: 100%;
    padding: 0 0 0 .5em
}

._1g8XL {
    width: 17%;
    min-width: 12em;
    cursor: pointer
}

@media (min-width:768px) {
    ._1g8XL {
        min-width: 0;
        max-width: 15em
    }
}

.rg0z_ {
    width: 100%;
    min-width: 100%;
    min-height: 10em;
    background-color: grey;
    height: auto
}

.rg0z_._163ng {
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover
}

.rg0z_:not(._163ng) {
    border: 4px solid transparent;
    border-radius: .5em
}

.rg0z_:not(._163ng):hover {
    border-color: #ffe300;
    border-radius: .25em
}

.rg0z_._30zvu {
    background-color: transparent;
    background-color: initial
}

._3flT3 {
    margin: .5em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8)
}

._3flT3.SgkSw {
    font-size: 1.2em;
    font-weight: 700
}

@media (min-width:768px) {
    ._3flT3 {
        font-size: .8em
    }
}

.w1zAv {
    display: inline-flex;
    flex-direction: row;
    color: #ffe300;
    margin: 0 .3em 0 0
}

._10k8k {
    font-size: 1.1em;
    margin: 0 0 0 .2em
}

._2ojiK:before {
    width: 1em;
    height: 1em;
    content: "\2605";
    color: grey
}

._2ojiK.GORgW:before {
    color: #ffe300
}

._2fsGY {
    color: #fff;
    text-align: center;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    color: #ccc
}

._2fsGY.poVYu {
    color: #252525
}

._2fsGY.DjTuO:before {
    content: "\01F4C5"
}

._2fsGY._3bQTB:before {
    content: "i";
    background-image: none;
    background-color: #252525;
    color: #fff;
    border-radius: 50%
}

._2fsGY._30T3U:before {
    content: "\01F565"
}

._2fsGY._3huFH:before {
    content: "\2691"
}

._2fsGY:before {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: url(./static/media/profile.20a124ab.png);
    content: "";
    margin: 0 .2em 0 0
}

._3ycAc span {
    display: inline-block;
    margin: 0 .5em 0 0;
    text-align: left;
    line-height: 1.5em
}

._3ycAc span h4 {
    margin: 0 0 0 .3em;
    color: #252525;
    font-weight: 600
}

._3ycAc span h4:last-of-type {
    color: #737373;
    font-weight: 100
}

._3t4QI, ._3ycAc {
    display: inline-block;
    margin: 0 3em 0 0;
    vertical-align: top
}

._3t4QI ._1tGRL:before, ._3ycAc ._1tGRL:before {
    content: "\2691";
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 0 .2em 0 0;
    color: #252525
}

._1UO60 {
    width: 25em;
    margin: 0 auto;
    font-weight: 700;
    border-radius: .2em;
    height: 3.5em;
    flex-direction: row;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

._1UO60, ._1UO60._1VJX5 {
    display: flex;
    align-items: center
}

._1UO60._1VJX5 {
    width: 5em;
    height: 5em;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    border: 1px solid grey;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 0 3em
}

._1UO60._1VJX5:not(._2hsew):not(._3PtbT):not(.bgNys):hover {
    border: 1px solid #ffe300
}

._1UO60._1VJX5:not(._2hsew):not(._3PtbT):not(.bgNys):hover:before {
    background-color: #ffe300
}

._1UO60._1VJX5:before {
    width: 2em;
    height: 2em;
    background-color: #fff;
    content: "";
    display: inline-block;
    border-radius: 50%
}

._1UO60._1VJX5 h4 {
    position: absolute;
    bottom: -2em;
    text-shadow: 1px 1px 1px #000;
    display: block;
    white-space: nowrap;
    margin: 0;
    font-weight: bolder
}

._1UO60._1Oee_ {
    color: #fff;
    background: transparent;
    border: none;
    width: auto;
    height: auto
}

._1UO60._1Oee_:before {
    margin: 0 .5em;
    content: "\2190";
    display: inline-block;
    font-size: 1.5em
}

._1UO60.HJhaF {
    width: 2em;
    height: 2em
}

._1UO60._1Vo_6 {
    color: #252525;
    margin: 0 1em 3em
}

._1UO60._1Vo_6 h4 {
    text-shadow: none
}

._1UO60._1nezb {
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    color: #ffe300;
    border: 2px solid #ffe300
}

._1UO60._3NLS7:not(.nhya3) {
    margin: 0
}

._1UO60._3NLS7:before {
    border-color: transparent transparent transparent #202020
}

._1UO60._2hsew {
    background-color: transparent;
    box-shadow: none;
    border: none
}

._1UO60._2hsew:before {
    background-color: transparent;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    background-image: url(./static/media/loading.aaaf80ba.gif);
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain
}

._1UO60._3PtbT:not(.nhya3), ._1UO60.bgNys:not(.nhya3) {
    border: none
}

._1UO60._3PtbT:before, ._1UO60.bgNys:before {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    content: "";
    border-radius: 0
}

._1UO60._3PtbT {
    display: inline-flex;
    flex-direction: row
}

._1UO60._3PtbT:after {
    content: ""
}

._1UO60._3PtbT:after, ._1UO60._3PtbT:before {
    width: .8em;
    height: 1em;
    margin: 0 .1em;
    background-color: grey
}

._1UO60.bgNys:before {
    border-top: 7px solid transparent;
    border-left: 13px solid grey;
    border-bottom: 7px solid transparent;
    background: transparent;
    margin: 0 0 0 .3em;
    width: 0;
    height: 0;
    border-radius: 0
}

._1UO60.bgNys.nhya3 {
    border: 1px solid transparent
}

._1UO60.bgNys.nhya3:before {
    border-top: 14px solid transparent;
    border-left: 26px solid #fff;
    border-bottom: 14px solid transparent
}

._1UO60.bgNys.nhya3:hover {
    border-color: #ffe300
}

._1UO60.bgNys.nhya3:hover:before {
    border-left-color: #ffe300
}

._1UO60._1R-_1 {
    justify-content: space-between;
    background-color: #ffe300;
    margin: 0 auto .5em;
    padding: 0 1em
}

._1UO60._1R-_1 h4, ._1UO60._1R-_1 h6 {
    margin: 0
}

._1UO60._1R-_1 h6:after {
    content: "P";
    color: #ffe300;
    background-color: #000;
    width: 12px;
    height: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: .5em;
    margin: 0 0 0 .2em;
    font-size: .7em
}

._1QUG0 {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

._1pICw {
    display: flex;
    flex-direction: row;
    align-items: center
}

._26YFP {
    color: purple
}

._1xb8T {
    padding: 3em 0 0;
    background-color: #000;
    height: 100vh
}

._1Rqmj {
    background-color: #fff;
    height: auto
}

._1HJlf {
    background-color: #000;
    height: 36em;
    position: relative
}

._3B5ls {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(60%, rgba(0, 0, 0, .3)), color-stop(70%, rgba(0, 0, 0, .5)), color-stop(85%, rgba(0, 0, 0, .7)), to(#000));
    background: linear-gradient(180deg, transparent 30%, rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, .5) 70%, rgba(0, 0, 0, .7) 85%, #000);
    height: 100%;
    width: 100%;
    top: 0;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 4em
}

._3B5ls, .TrwV7 {
    position: absolute;
    right: 0;
    display: flex
}

.TrwV7 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 50%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    margin: auto;
    left: 0
}

._2Pe8j {
    color: #fff;
    text-align: center;
    margin: .5em 0;
    text-shadow: 1px 1px 1px #000
}

._1Hb_Z {
    padding: 1em
}

._3b93d {
    color: #252525;
    font-size: 1.15em;
    line-height: 1.5em
}

._1teKr {
    display: flex;
    flex-direction: row;
    align-items: center
}

._2X2Qv {
    margin: 0 .5em 0 0
}

._2gIHT {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000
}

._21XQp {
    position: absolute!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto!important;
    opacity: 0
}

._21XQp._2t900 {
    opacity: 1
}

._1RJ0j {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%
}

._1sU5C {
    background-color: #ffe300
}

._1sU5C, ._2niKY {
    border-radius: .2em
}

._2niKY {
    background-color: #5f5f5f
}

._3geN5 {
    height: 3em;
    z-index: 99999;
    position: absolute;
    width: 100%;
    bottom: 1em;
    left: 0;
    padding: .2em .5em;
    display: flex;
    flex-direction: column
}

._3geN5._2t900 {
    opacity: 1
}

._1x5v4 {
    display: flex;
    flex-direction: row;
    padding: 0 1em;
    min-width: 100%;
    align-items: center;
    min-height: 18px;
    margin: 0 0 .2em
}

._1x5v4 div {
    color: #5f5f5f;
    font-weight: 600
}

._1x5v4 div.V25ey {
    color: #fff
}

._1GyPc {
    position: absolute;
    top: .5em;
    left: 0;
    z-index: 99999
}

._4eMDA {
    flex-direction: row;
    flex: 1 1;
    background-color: #4d4d4d;
    border-radius: .2em;
    margin: 0 1em;
    color: #ffe300;
    height: .7em;
    min-width: auto;
    cursor: pointer;
    position: relative
}

._4eMDA, ._4eMDA:hover .V25ey {
    display: flex
}

.V25ey {
    position: absolute;
    display: none;
    background-color: #5f5f5f;
    border-radius: .3em;
    font-size: .8em;
    padding: .4em;
    top: -2.5em;
    justify-content: center;
    min-width: 4em
}

.V25ey:before {
    content: "";
    display: inline-block;
    border-color: #5f5f5f transparent;
    border-style: solid;
    border-width: 0 5px 5px;
    background: transparent;
    border-radius: 0;
    position: absolute;
    bottom: -.37em;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.bhNzb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

/*# sourceMappingURL=main.a03c9524.chunk.css.map */